<div class="row">
  <div class="col-md-6">
    <img class="card-img-top w-75 p-3 imageThumbnail" src="{{data?.avatar}}" />
  </div>
  <div class="col-md-6">

    <form class="font-weight-normal pb-md-5">
      <div>
        <label class="form-label pr-4">Employee Id:</label>
        <label class="form-label">{{data?.id}}</label>
      </div>
      <div>
        <label class="form-label pr-4">First Name:</label>
        <label class="form-label">{{data?.first_name}}</label>
      </div>
      <div>
        <label class="form-label pr-4">Last Name:</label>
        <label class="form-label">{{data?.last_name}}</label>
      </div>
      <div>
        <label class="form-label pr-4">Email Address:</label>
        <label class="form-label">{{data?.email}}</label>
      </div>

    </form>
  </div>

</div>
